<div style="width: 100vw; height: 100vh; background-color: rgb(231, 214, 220)">
  <br>
  <div class="icon-bar">
    <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://mail.google.com/mail/u/0/#inbox" class="google"><i class="fab fa-google"></i></a>
    <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/" class="youtube"><i class="fab fa-youtube"></i></a>
  </div>

  <form>
    Name: <input type="text" name="name"><br>
    Thought Process: <input type="text" name="thoughts"><br>
    <br>
    <button>
      Yas Queen
    </button>
  </form>
</div>