/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: rgb(241, 158, 4);
  font-weight: bold;
  font-size: 25px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 70%;
  left: 85%;
  transform: translate(-50%, -50%);
}